{% extends 'base.html' %}


{% block saag_options %}
"/#saag_options"
{% endblock %}


{% block cover_content %} {% endblock %}

{% block content %}

     <!-- Feature -->
        <section id="features" class="section feature">
            <div class="container" id = "why_saag">
                <div class="row">
                    <div class="col-12">
                        <!-- Empty Space -->
                        <div class="space-md"></div>
                        <!--/ End Empty Space -->
                        <div class="row">
                            <div class="col-12 col-lg-11 mr-lg-auto">
                                <h4 class="subtabove">why saag?</h4>
                                <h3 class="title">Spinach is a Superfood</h3>
                                <!-- Empty Space -->
                                <div class="space-md"></div>
                                <!--/ End Empty Space -->
                            </div>
                            <div class="col-12 col-md-6 col-lg-4">
                                <div class="single-feature mt-4 text-center text-lg-left">
                                    <div class="row align-items-start">
                                        <div class="col pr-lg-0">
                                            <img src="./assets/images/thumb/noun_vitamins_2212348.svg" alt="vitamins" class="icon">
                                        </div>
                                        <div class="col-12 col-lg-10 mt-4 mt-lg-0 mr-auto">
                                            <h4 class="title">Vitamins</h4>
                                            <!-- Empty Space -->
                                            <div class="pt-1"></div>
                                            <!--/ End Empty Space -->
                                            <p class="lead">
                                                Spinach is high in <strong>vitamin A</strong> (important for good vision, healthy growth, and a strong immune system), <strong>vitamin C</strong> (tissue repair), and <strong>vitamin K1</strong> (blood clotting, bone health, and heart health).
                                                It is also an excellent source of <strong>vitamin B6</strong>, <strong>vitamin B7</strong>, and <strong>vitamin E</strong>.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-6 col-lg-4">
                                <div class="single-feature mt-4 text-center text-lg-left">
                                    <div class="row align-items-start">
                                        <div class="col pr-lg-0">
                                            <img src="./assets/images/thumb/noun_Sword_1529357.svg" alt="minerals" class="icon">
                                        </div>
                                        <div class="col-12 col-lg-10 mt-4 mt-lg-0 mr-auto">
                                            <h4 class="title">Minerals</h4>
                                            <!-- Empty Space -->
                                            <div class="pt-1"></div>
                                            <!--/ End Empty Space -->
                                            <p class="lead">
                                                Spinach has significant amounts of <strong>iron</strong> (essential for the creation of haemoglobin in the blood), <strong>magnesium</strong> (needed for hundreds of important biochemical reactions in the body), <strong>potassium</strong> (necessary for protein building), and <strong>copper</strong> (blood and bone health).
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-6 col-lg-4">
                                <div class="single-feature mt-4 text-center text-lg-left">
                                    <div class="row align-items-start">
                                        <div class="col pr-lg-0">
                                            <img src="./assets/images/thumb/noun_Fiber_76625.svg" alt="fiber" class="icon">
                                        </div>
                                        <div class="col-12 col-lg-10 mt-4 mt-lg-0 mr-auto">
                                            <h4 class="title">Dietary Fiber</h4>
                                            <!-- Empty Space -->
                                            <div class="pt-1"></div>
                                            <!--/ End Empty Space -->
                                            <p class="lead">
                                                Spinach leaves are packed with <strong>dietary fiber</strong>, which is necessary to maintain gastrointestinal health and helps protect against heart disease.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-6 col-lg-4">
                                <div class="single-feature mt-4 text-center text-lg-left">
                                    <div class="row align-items-start">
                                        <div class="col pr-lg-0">
                                            <img src="./assets/images/thumb/noun_more_730315.svg" alt="misc" class="icon">
                                        </div>
                                        <div class="col-12 col-lg-10 mt-4 mt-lg-0 mr-auto">
                                            <h4 class="title">Misc</h4>
                                            <!-- Empty Space -->
                                            <div class="pt-1"></div>
                                            <!--/ End Empty Space -->
                                            <p class="lead">
                                                Spinach is a good source of <strong>folic acid</strong>, which is an essential part of cell production.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-6 col-lg-4">
                                <div class="single-feature mt-4 text-center text-lg-left">
                                    <div class="row align-items-start">
                                        <div class="col pr-lg-0">
                                            <img src="./assets/images/thumb/noun_kitchen scale_2228170.svg" alt="low_calorie" class="icon">
                                        </div>
                                        <div class="col-12 col-lg-10 mt-4 mt-lg-0 mr-auto">
                                            <h4 class="title">Low calorie</h4>
                                            <!-- Empty Space -->
                                            <div class="pt-1"></div>
                                            <!--/ End Empty Space -->
                                            <p class="lead">
                                              Spinach is a very low calorie food (only <strong>23 calories per 100g</strong> raw). This makes Saag the <strong>ideal delivery mechanism</strong>
                                              for nutritional goodness -- the Saag takes care of the micronutrients, and we add a filling macronutrient source like paneer (Indian fresh farm cheese, high fat), tofu (soy bean curd, balanced macros), or
                                              seitan (wheat gluten, high protein). You add your own rice or bread if you'd like more carbs.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-6 col-lg-4">
                                <div class="single-feature mt-4 text-center text-lg-left">
                                    <div class="row align-items-start">
                                        <div class="col-12 col-lg-10 ml-lg-auto py-4">
                                            <a href="#get_saag" class="btn btn-lg btn-primary CTA-btn ips">Get Saag</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        


{% endblock %}